@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fffdf3;
  font-family: "DM Sans", sans-serif;
  color: #333;
}
body,
.class-item,
p {
  font-family: "DM Sans", sans-serif;
}

/* css navbar start */
.navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  padding: 20px;
  align-items: center;
  display: flex;
}

.navbar img {
  height: 50px;
}

/* css navbar end */

/* --------------- */
/* --------------- */
/* --------------- */

/* section 1 css */
.container {
  position: relative;

  width: 100vw; /* Adjust width as needed */
  max-width: 1000px; /* Max width for larger screens */
  /* Aspect ratio for rectangle */
  background-image: url("bahan/backgrund/section1.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  margin: 50px auto;
  border-radius: 15px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 37.5%; /* Maintain aspect ratio (15 / 40 * 100%) */
  border-radius: 15px;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  cursor: text;
  width: 80%;
}

h1,
p {
  margin: 10px;
  padding: 10px;
}
.text-overlay h4 {
  background-color: #3ecf4c; /* Menambahkan latar belakang berwarna hijau */
  padding: 10px; /* Optional: Menambahkan padding untuk memperjelas teks */
  max-width: 60%; /* Membatasi lebar maksimum teks */
  margin: 0 auto; /* Meletakkan teks di tengah secara horizontal */
  border-radius: 10px;
}

/* section 1 end */

/* ---------------------- */

.centered-image-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Menempatkan konten di sebelah kiri */
  padding: 10px;
  width: 100%;
}

.centered-image {
  width: 100%; /* Adjust the size as needed */
  height: auto;
}

.centered-image-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.text-container {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: flex-start; /* Align items to the start (left) */
}

.below-image-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 10px 0 10px 0; /* Add space between h1 and p */
  text-align: left; /* Align text to the left */
}

.class-options {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 15px;
}

.class-item {
  padding: 10px 0px;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}

/* Warna item saat diklik */
.class-item:active {
  color: orange;
}

/* Garis bawah saat diklik */
.class-item:active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px; /* Sesuaikan jarak garis dengan teks */
  height: 2px; /* Ketebalan garis */
  background-color: orange;
  transition: 1s;
}

/* end */
.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.content-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.content-box {
  background-color: #fff;
  padding: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.content-box img {
  max-width: 100%;
  height: auto;
}

.content-box p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.content-box p:nth-of-type(1) {
  font-size: 14px; /* Adjust the font size */
  font-weight: bold; /* Make the text bold */
  margin-bottom: 5px; /* Add some bottom margin */
}

.content-box p:nth-of-type(2) {
  font-family: "DM Sans", sans-serif; /* Apply Demon Sans font */
}

.extra-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 1px;
}

.text-content p {
  margin: 5px 0;
  display: inline;
  font-size: 11px;
}
.content-box img:last-child {
  margin-top: 20px; /* Add margin to create space */
}

.background-image {
  background-image: url("bahan/backgrund/cover.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 80px;
  padding: 50px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}
.content {
  text-align: center;
  flex-direction: column;
  position: relative;
  display: flex;
  color: #fff;
  z-index: 1;
  margin-bottom: 20px;
}

/* ----------- */
.content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
.content h3,
.content h1,
.content p {
  margin: 0; /* Remove default margins */
}

.input-container {
  position: relative;
  margin-top: 20px;
  display: inline-block;
  /* Space between input and button */
}

.content input {
  padding: 20px;
  font-size: 1rem;
  width: 300px;
  border-radius: 10px;
  border: none;
}

.content button {
  position: absolute;
  padding: 20px;
  font-size: 1rem;
  background-color: #ffbd3a;
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 10px;
}

/* ------------- */
.footer {
  background-color: white;
  padding: 30px;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-list {
  display: inline-block;
  list-style: none;
  vertical-align: top;
}

.footer-left img {
  max-width: 200px; /* Menyesuaikan lebar gambar */
  margin-bottom: 20px; /* Memberikan jarak antara gambar dan teks */
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  margin-right: 20px; /* Atur jarak antar bagian jika diperlukan */
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 5px; /* Atur jarak antar item jika diperlukan */
}

/* Opsional: Gaya untuk judul setiap bagian */
.footer-section h4 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .container {
    margin: 10px 10px;
  }
  .text-overlay {
    width: 90%; /* Adjust width for better readability on small screens */
  }

  h1 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  p {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .text-overlay h4 {
    max-width: 80%; /* Adjust maximum width for smaller screens */
    font-size: 10px; /* Adjust font size for smaller screens */
  }

  .class-options {
    flex-direction: column;
    align-items: flex-start;
  }

  .class-item {
    margin: 10px 0;
  }

  .content-row {
    flex-direction: column;
    gap: 10px;
  }

  .content-box {
    width: 100%;
    padding: 10px;
  }

  .background-image {
    margin: 20px;
    padding: 20px;
  }

  .content input {
    width: 100%;
    padding: 10px;
  }

  .content button {
    width: 100%;
    position: relative;
    margin-top: 10px;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer-left img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .navbar {
    padding: 5px;
  }

  .container {
    margin: 25px;
    width: 90%;
  }

  .image-wrapper {
    padding-top: 70%;
    border-radius: 5px;
  }

  .text-overlay {
    width: 90%;
  }

  h1 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }
  h1,
  p {
    margin: 0px;
  }

  .text-overlay h4 {
    max-width: 80%;
    font-size: 12px;
  }

  .below-image-text {
    font-size: 18px;
  }

  .class-item {
    margin: 0px;
    padding: 0px;
    display: flex;
  }

  .content-box {
    padding: 5px;
  }

  .background-image {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
  }

  .content input {
    padding: 5px;
  }

  .content button {
    padding: 5px;
  }

  .footer {
    padding: 20px;
  }
}
